/* REGOLE GENERALI DELLA PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.row {
  flex-flow: row wrap;
  display: flex;
}
a {
  text-decoration: none;
}
li {
  display: inline-block;
  vertical-align: middle;
}
#head-sx li > a:hover, #head-dx li > a:hover {
  color: grey;
}
/* HEADER */
header {
  width: 100%;
  padding: 30px 0;
}
#head-sx {
  flex-grow: 1;
}
#head-sx li {
  padding-right: 40px;
}
#head-sx li > a {
  color: #d1cfcf;
}
/* ------------------ */
#head-dx li {
  padding-right: 20px;
  line-height: 40px;
  vertical-align: middle;
}
#head-dx li > a {
  color: #d1cfcf;
}
#head-dx li:nth-of-type(4) {
  padding-right: 30px;
}
/* ------------------------- */
#one, #two {
  padding: 10px;
  border-radius: 5px;
}
#one a, #two a {
  color:  white;
}
#one {
  background-color: #d1cfcf;
  margin-right: 10px;
}
#two {
  background-color: #000;
}
/* JS CLASS */
.hoverMenu {
  background-color: #000;
  display: none;
  width: 200px;
  height: 200px;
}
